.col-md-5, .col-md-7{
    margin-bottom: 15px;
}

#rowButton {
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
}

.receita_remover {
    background-color: rgb(212, 56, 56);
    font-weight: bold;
    color: white
}

.receita_remover:hover {
    background-color: rgb(206, 86, 86);
    color: white;
    border-color: white
}

#myTable th {
    background-color: #417169;
    color: white;
    padding-right: 18px;
    font-size: 12px;
    font-weight: 600;
}