.div-time-notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 5rem;
    position: fixed;
    right: 5rem;
    z-index: 1000;
    width: 50px;
}

.div-time-notification .div-large-button {
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 25px;
    height: 50px;
    justify-content: center;
    width: 50px;
}

.div-time-notification .div-medium-button {
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    color: white;
    cursor: pointer;
    display: none;
    font-size: 30px;
    height: 40px;
    justify-content: center;
    width: 40px;
    margin-bottom: 10px;
    margin-left: 2.5px;
}

.div-time-notification .button-time-notification .button-time-notification-quantidade {
    align-items: center;
    border-radius: 50%;
    bottom: -5px;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    height: 20px;
    justify-content: center;
    position: absolute;
    right: -5px;
    width: 20px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.nobreakline {
    white-space: nowrap;
}

.notification-aberto .button-time-notification {
    background-color: #cb5a5e;
}

.notification-aberto .button-time-notification:hover  {
    background-color: #ba494d;
}

.notification-aberto .button-time-notification-quantidade {
    background-color: #dfba49;
    color: black;
}

.notification-aberto .button-time-notification-quantidade:hover  {
    background-color: #cea938;
}

.notification-telefone .button-time-notification {
    background-color: #3598dc;
}

.notification-telefone .button-time-notification:hover  {
    background-color: #2487cb;
}

.notification-telefone .button-time-notification-quantidade {
    background-color: #cb5a5e;
    color: white;
}

.notification-telefone .button-time-notification-quantidade:hover {
    background-color: #ba494d !important;
}

.div-time-notification span i {
    font-size: 25px;
}

.notification-telefone .numero-telefone {
    top: -20px;
    position: absolute;
    white-space: nowrap;
    font-weight: bold;
    font-size: 13px;
}

/* ======================= Notificacao de atualizacao da pagina ========================== */

.div-time-notify {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    bottom: 5rem;
    position: fixed;
    left: 5rem;
    z-index: 1000;
    width: 50px;

}

.div-time-notify .div-large-button {
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 25px;
    height: 50px;
    justify-content: center;
    width: 50px;
}


.div-time-notify .button-time-notify {
    align-items: center;
    border-radius: 50%;
    bottom: -5px;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    height: 50px;
    justify-content: center;
    position: absolute;
    right: -5px;
    width: 50px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.nobreakline {
    white-space: nowrap;
}


.div-time-notify span i {
    font-size: 28px;
}

.notify_reload .button-time-notify{
    background-color: #36a376 !important;
}